.sentry-native/
.sentry-native/metadata
3DCHARS/
3dobjs/
ANM/
AnmPak/
shaders/
SOUNDS/
bin/
classic/
Save/
SavesDir/
DATA/
Config/
SCRIPTS/Biped/
SCRIPTS/Combos/
LIB/AnmSets/

**/SDF.txt

**/*.pyc
**/*.exe
**/*.vdf
**/*.sh
**/*.dat
**/*.pak
**/*.dat